/*
.x-row {
  clear: both;
  height: 100px;
  max-width: 408px;
  margin: auto;
} */

#overlord {
  clear: both;
  max-width: 960px;
  margin: auto;
  margin-top: 60px;
}

.grid-square {
  display: inline-block;
  border: 1px;
  border-style: solid;
  border-color: #000;
  margin-top: -5px;
}

.active {
  background-color: #00ff00;
}

.trail {
  background-color: #559955;
}
